.search__btn {
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 1;
  background: $blue;

  border: none;
  outline: none;
  box-shadow: none;

  cursor: initial;

  width: 85px;
  height: 60px;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  &:hover {
    color: $white;
    background: #6685c9;
  }

  i {
    padding: 20px 20px 20px 30px;
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 1;

    transform: translate3d(-60%, -50%, 0);

    font-size: 20px;
    color: #fff;

    cursor: pointer;
  }
}

.btn__mask {
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 70px;
  width: 35px;
  height: 60px;

  border-radius: 50%;
}

.btn {
  font-size: 14px;
  letter-spacing: 1.5px;
  color: $white;
  text-transform: uppercase;

  background: $blue;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);

  transition: all 0.3s linear;

  &:hover {
    color: $white;
    background: #6685c9;
  }
}

.register__btn {
  margin-left: 65px;
  padding: 20px 65px;
}

.menu__search-btn,
.menu__close-btn {
  width: 240px;
  height: 60px;

  padding-left: 50px;

  font-size: 14px;
  color: #fdfdfd;
  text-transform: uppercase;

  background: $blue;
  border: 0;
  outline: none;
}

.btn__search {
  width: 100%;
  margin: 0 15px;
}

.btn__buy {
  margin-bottom: 40px;
  padding: 15px 65px;
}

.btn__seemore {
  font-size: 14px;
  color: #0f0e0b;
  text-transform: uppercase;

  background: #fff;
}
