@media only screen and (max-width: 1150px) {
  .steps__photo {
    min-height: 600px !important;
    top: 80px !important;
    right: 40px !important;
  }
}

@media only screen and (max-width: 1090px) {
  .intro__title {
    font-size: 60px !important;
  }
}

@media only screen and (max-width: 992px) {
  .header .navbar {
    padding: 0 !important;
  }

  .navbar-brand {
    padding-left: 15px !important;
  }

  .header .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: rgb(83, 94, 143);
  }

  .header .nav__item {
    padding: 10px 0 !important;
    text-align: center;

    &:hover {
      background: rgb(87, 119, 187);
    }
  }

  .authorization {
    padding: 30px 0;
    text-align: center;
    background: rgb(83, 94, 143);
  }

  .steps {
    height: auto !important;
    padding-top: 30px !important;
  }

  .steps__inner {
    text-align: center !important;
  }

  .steps__content {
    width: 100% !important;
  }

  .steps__item {
    display: flex !important;
    justify-content: center !important;
    text-align: left !important;
  }

  .steps__img {
    width: 100% !important;
    position: relative !important;
    height: 625px;
  }

  .steps__photo {
    width: 100% !important;
    max-width: 100% !important;
    max-height: 500px;

    margin: 0 auto !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }

  .register__btn {
    margin-left: 0 !important;
    margin-bottom: 20px !important;
  }

  .menu {
    max-width: 800px !important;
    margin: 25px auto 40px !important;
  }

  .menu__nav {
    max-width: 605px !important;
  }

  .perfectCar {
    padding: 50px 0 !important;
  }

  .reviews {
    max-height: none !important;
    padding-top: 0;
  }

  .reviews__inner {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .reviews__img {
    width: 100% !important;
    position: relative !important;
    height: 500px;
    margin-top: 70px;

    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .reviews__photo {
    width: 600px;
    height: auto;
    max-width: 100% !important;
    min-height: 0 !important;

    position: relative !important;
  }

  .reviews__content {
    width: 100%;
  }

  .section__title-reviews {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    z-index: 1;
  }

  .footer {
    text-align: center;

    .navbar-nav {
      display: flex !important;
      flex-direction: row !important;
      justify-content: center !important;
    }

    .powered {
      justify-content: center;
      align-items: center;
    }
  }

  .footer__info-title {
    padding: 20px 15px 0 0;
    margin-bottom: 20px !important;
  }

  .social {
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  .menu {
    max-width: 695px !important;
  }

  .menu__nav {
    max-width: 505px !important;
  }
}

@media only screen and (max-width: 768px) {
  .intro__search {
    height: auto !important;
    padding: 0 0 20px !important;

    border-radius: 0 !important;

    .select2 {
      padding-left: 15px;
    }
  }

  .search__btn {
    width: 300px;
    margin: 0 auto !important;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    position: relative !important;
    display: block !important;

    i {
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .btn__mask {
    display: none;
  }

  .menu {
    height: 250px;
    border-radius: 0 !important;

    flex-direction: column;
  }

  .menu__nav {
    height: auto !important;
    background: transparent !important;
    border-radius: 0 !important;
    position: relative !important;
    z-index: 0 !important;
  }

  .menu__item {
    border-right: 0 !important;
  }

  .menu__search {
    position: relative !important;
  }

  .menu__search-btn {
    height: 50px !important;
  }

  .carBox {
    margin: 0 auto;
  }

  .btn__buy {
    margin-bottom: 10px;
  }

  .car__info {
    font-size: 18px !important;
  }

  .car__info:nth-child(2) {
    border-right: 0 !important;
  }

  .car__info:nth-child(2n + 1) {
    padding-right: 15px;
    text-align: right;
  }

  .car__info:nth-child(2n) {
    padding-left: 15px;
    text-align: left;
  }
}

@media only screen and (max-width: 715px) {
  .intro__title {
    margin-bottom: 15px !important;
    padding-top: 90px !important;
    font-size: 40px !important;
  }

  .intro__text {
    margin-bottom: 30px !important;
    font-size: 17px !important;
  }

  .steps__img {
    height: 420px !important;
  }

  .steps__photo {
    min-height: 400px !important;
    max-height: 400px !important;
  }

  .footer__content {
    margin-bottom: 30px !important;
  }
}

@media only screen and (max-width: 600px) {
  .reviews__img {
    display: none !important;
  }
  .intro__title {
    font-size: 30px !important;
  }
}

@media only screen and (max-width: 500px) {
  .search__btn {
    width: 250px;
  }

  .steps__header {
    margin-bottom: 15px !important;
    font-size: 30px !important;
  }

  .steps__title {
    font-size: 20px !important;
  }

  .steps__img {
    height: 320px !important;
  }

  .steps__photo {
    min-height: 300px !important;
    max-height: 300px !important;
  }

  .section__title {
    font-size: 30px;
  }

  .footer {
    .navbar-nav {
      display: flex !important;
      flex-direction: column !important;

      .nav__item {
        padding: 10px 0;
      }
    }

    .powered {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .footer__info-title {
    padding: 20px 15px 0 0;
    margin-bottom: 20px !important;
  }

  .footer__subscribe {
    max-width: 320px !important;
  }

  .footer__nav {
    max-width: 200px !important;
  }
}

@media only screen and (max-width: 360px) {
  .authorization__item {
    display: block;
    margin: 0 15px;
  }

  .footer__subscribe {
    max-width: 300px !important;
  }

  .footer__nav {
    max-width: 180px !important;
  }
}

@media only screen and (max-width: 350px) {
  .steps__item {
    text-align: center !important;
  }

  .steps__icon {
    margin-left: -15px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    overflow-x: auto;
  }
}
