.select2 {
  width: 100% !important;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: left;

  &:focus {
    outline: none;
  }
}

.select2-container {
  .select2-selection--single {
    height: 60px;
    position: relative;
    margin-bottom: 0;
    background-color: transparent !important;
    border: none;

    &:focus {
      outline: none;
    }

    .select2-selection__rendered {
      line-height: 56px;
      background-color: transparent !important;
      color: $black;
    }

    .select2-selection__arrow {
      top: 16px;
      right: 8px;
    }

    .select2-container--default {
      .select2-results > .select2-results__options {
        -webkit-overflow-scrolling: touch;
        background-color: transparent !important;
      }
    }
  }
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: rgb(114, 158, 240);
  color: #fff;
}

#select2-select_model-container {
  color: #ccc;
}
