@import "vars";

@font-face {
  font-family: "ArcaMajora3";
  src: url("../fonts/ArcaMajora3-Bold.woff") format("woff"),
    url("../fonts/ArcaMajora3-Heavy.woff") format("woff");
}

body {
  font-family: "ArcaMajora3";
  font-size: 14px;
  line-height: 1;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

// font-family: "Poppins", sans-serif;

.container {
  width: 100%;
  max-width: 1140px;
}

.dropdown-toggle::after {
  border: none;
}

.dropdown-menu {
  width: 200px;
  border: none;
  border-radius: 7px;
  left: 25px !important;
  z-index: 1000 !important;
}

@import "header";
@import "section";
@import "intro";
@import "select2";
@import "btn";
@import "steps";
@import "perfectCar";
@import "menu";
@import "car";
